.parentContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.cartHeader{
    min-height: 100px;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.itemContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.text{
    color: var(--text);
}

.items{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button{
    min-height: 50px;
    min-width: 50px;
    background-color: var(--primary);
    border: 3px solid var(--secondary);
    color: var(--text);
    padding: 1rem 1rem;
    transition: all 0.5s ease;
}

.button:hover{
    background-color: var(--secondary);
}