/* Inspired by Uiverse.io by arthur_6104 */ 
.loader .box {
  background-color: rgb(84, 84, 84);
  width: 220px;
  height: 220px;
  padding: 20px;
  border-radius: 20px;
  border: 5px solid gray;
  position: relative;
  overflow: hidden;
  box-shadow: 3px 4px 5px rgb(193, 193, 193);
}

.loader .box .screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
}

.screen .lightrayLimit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  overflow: hidden;
  border-radius: 10px;
}

.screen .lightray {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  width: 250%;
  height: 250%;
  background-image: radial-gradient(#ffffffa1, transparent, transparent);
  border-radius: 10px 10px 0 0;
}

.screen .loaderBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding: 5px;
  border: 5px solid #fff;
}

.screen .loaderBox .progress {
  width: 0;
  height: 5px;
  background-color: #fff;
  animation: progress 5s infinite;
}

.topSide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -55px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  box-shadow: 10px 10px 10px #1f1f1f8a;
  background-color: #1f1f1f8a;
}

.bottomSide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: calc(100% + 60px);
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  box-shadow: -10px -10px 10px #a5a5a5;
  background-color: #a5a5a5;
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.text{
  color: var(--white);
}
