.pageContainer {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: var(--text);
}

.productHeader {
  display: flex;
  gap: 3rem;
  align-items: flex-start;
}

.imageSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageSection img {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.priceSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.oldPrice {
  font-size: var(--fontM);
  text-decoration: line-through;
}

.newPrice {
  font-size: 2rem;
  font-weight: 800;
}

.addToCartButton {
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-weight: 600;
  background-color: var(--primary);
  color: var(--text);
  border: 3px solid var(--secondary);
  cursor: pointer;
  transition: 0.3s ease;
}

.addToCartButton:hover {
  background-color: var(--secondary);
  scale: 1.1;
}

.infoSection {
  display: grid;
  gap: 3rem;
}

.specifications {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.specItem {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 0;
  border-bottom: 0.2rem solid var(--secondary);
}

.specTitle {
  font-weight: 600;
}

.specValue {
  color: var(--text);
}

.description {
  min-height: 200px;
  line-height: 1.6;
}

@media (max-width: 992px) {
  .productHeader {
    flex-direction: column;
  }

  .infoSection {
    grid-template-columns: 1fr;
  }

  .priceSection {
    width: 90vw;
    align-self: center;
  }
}
