.parentContainer{
    display: flex;
    flex-direction: row;
    min-height: 80vh;
}

.leftPanel{
    flex: 1;
    background-color: var(--primary);
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.centerPanel{
    flex: 4;
    background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
}

.rightPanel{
    flex: 1;
    background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
}

.dropdownMenuElementContainer{
    width: 90%;
    display: flex;
    flex-direction: row;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    transition: all 0.3s ease;
    justify-content: space-between;
    transition: all 0.3s ease;
    color: var(--text);
    background-color: var(--secondary);
    border: none;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    transition: all 0.5s ease;

}

.dropdownMenuElementContainer:hover{
    background-color: var(--primary);
}

.dropdownMenuElement{
    color: var(--text);
}

.dropdownMenuElementIcon{
    color: var(--text);
}

.inputMenuElement{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--text);
    border-bottom: 2px solid var(--inactive);

    transition: border-color 0.3s ease;
}

.inputMenuElement:focus{
    border-color: var(--focus);
}

.inputMenuElement::placeholder{
    color: var(--secondary);
}

.checkBoxMenuElement{
    display: flex;
    flex-direction: row;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    transition: all 0.3s ease;
    justify-content: space-between;
    color: var(--text);
    width: 100%;
}

.checkBoxMenuParent{
    width: 90%;
    color: var(--text);
}

//right pannel => will be detachet from this component and start its own life as a regular comppnnent in the close future

.productsParent{
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button{
   width: 90%;
   padding: 0.5rem 0;
   background-color: var(--secondary);
   color: var(--text);
   transition: all 0.5s ease;
}
.button:hover{
   background-color: var(--primary);
}

@media screen and (max-width: 992px) {
    .leftPanel{
        display: none;
    }
    .rightPanel{
        display: none;
    }
}