.parentContainer{
    display: flex;
    flex-direction: row;
    min-height: 80vh;
}

.leftPanel{
    flex: 1;
    background-color: var(--primary);
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.leftPanelMobileView{
    flex: 4;
    background-color: var(--primary);
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.leftPanelmobileMenuButton{
    display: none;
}

.leftPanelmobileMenuButton:hover{
    background-color: var(--primary);
}

.centerPanel{
    flex: 4;
    background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
    padding-bottom: 2rem;
}

.pageButtonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.rightPanel{
    flex: 1;
    background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
}

.dropdownMenuElementContainer{
    width: 90%;
    display: flex;
    flex-direction: row;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    transition: all 0.3s ease;
    justify-content: space-between;
    transition: all 0.3s ease;
    color: var(--text);
    border: 3px solid var(--secondary);
    background-color: var(--primary);
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    transition: all 0.5s ease;

}

.dropdownMenuElementContainer:hover{
    background-color: var(--primary);
}

.dropdownMenuElement{
    color: var(--text);
}

.dropdownMenuElementIcon{
    color: var(--text);
}

.inputMenuElement{
    width: 90%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--text);
    border-bottom: 2px solid var(--inactive);

    transition: border-color 0.3s ease;
}

.inputMenuElement:focus{
    border-color: var(--focus);
}

.inputMenuElement::placeholder{
    color: var(--inactive);
}

.checkBoxMenuElement{
    display: flex;
    flex-direction: row;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    transition: all 0.3s ease;
    justify-content: space-between;
    color: var(--text);
    width: 100%;
}

.checkBoxMenuParent{
    width: 90%;
    color: var(--text);
}

.productsParent{
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button{
   width: 90%;
   padding: 0.5rem 0;
   background-color: var(--primary);
   border: 3px solid var(--secondary);
   color: var(--text);
   transition: all 0.5s ease;
}

.pageButton{
    @extend .button;
    width: 2rem;
}

.pageButtonActive{
    @extend .pageButton;
    background-color: var(--secondary);
}

.button:hover{
   background-color: var(--secondary);
   scale: 1.1;
}

.pagesSeparator{
    color: var(--text);
    font-size: var(--fontM);
}

@media screen and (max-width: 992px) {
    .leftPanel{
        display: none;
    }
    .rightPanel{
        display: none;
    }

    .leftPanelmobileMenuButton{
        display: block;
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 1001;
        background-color: var(--secondary);
        border: 3px solid var(--secondary);
        color: var(--text);
        padding: 1rem;
        transition: all 0.3s ease;
    }
}