.parentContainer{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}

.title{
    font-size: var(--fontXL);
    color: var(--text);
    align-self: center;
    padding-top: 2rem;
}

.itemsContainer{
    width: 100%;
    min-height: 600px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media screen and (max-width: 992px) {
  .itemsContainer{
    grid-template-columns: repeat(1, 1fr);
  }
}