.card {
  min-height: 80%;
  background: var(--inactive);
  border: 3px solid #000000;
  box-shadow: 12px 12px 0 #000000;
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  translate: 6px 6px;
  cursor: pointer;
}

.head {
  padding: 1rem 1rem;
  font-size: var(--fontM);
  font-weight: 900;
  width: 100%;
  min-height: 32px;
  background: var(--secondary);
  color: var(--text);
  border-bottom: 3px solid var(--focus);
  text-align: center;
}

.imageContainer{
  height: 400px;
}

.image{
  height: 100%;
  object-fit: cover;
}

.priceContainer{
  padding-right: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10%;
}

.price{
    font-weight: 600;
}

.oldPrice{
    font-weight: 600;
    text-decoration: line-through;
    color: var(--wrong);
}

.newPrice{
    font-weight: 800;
    font-size: 24px;
}