.card {
  min-height: 300px;
  background: var(--inactive);
  border: 3px solid #000000;
  box-shadow: 12px 12px 0 #000000;
  overflow: hidden;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
}

.card:hover {
  translate: 6px;
  cursor: pointer;
}

.head {
  padding: 1rem 1rem;
  font-size: var(--fontM);
  font-weight: 900;
  width: 100%;
  background: var(--secondary);
  color: var(--text);
  border-bottom: 3px solid var(--focus);
}

.productData{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.imageContainer{
  height: 300px;
  flex: 3;
}

.image{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  flex: 2;
}

.priceContainer{
  padding-right: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.price{
  font-weight: 600;
}

.oldPrice{
  font-weight: 600;
  text-decoration: line-through;
  color: var(--wrong);
}

.newPrice{
  font-weight: 800;
  font-size: 24px;
}

.button{
  padding: 1rem 1rem;
  background-color: var(--primary);
  color: var(--text);
  transition: all 0.5s ease;
}
.button:hover{
  background-color: var(--secondary);
}

@media screen and (max-width: 992px) {
  .productData{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}