.card {
  min-height: 200px;
  background: var(--primary);
  color: var(--text);
  border: 3px solid var(--secondary);
  box-shadow: 12px 12px 0 #000000;
  overflow: hidden;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translate(6px, 6px);
  cursor: pointer;
}

.productData {
  display: flex;
  width: 100%;
  text-decoration: none;
  color: inherit;
  align-items: stretch;
}

.imageContainer {
  flex: 0 0 220px;
  height: 220px;
  padding: 1rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.productInfo {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
}

.title {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.content {
  font-size: 14px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.priceContainer {
  flex: 0 0 180px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0.5rem;
}

.oldPrice {
  text-decoration: line-through;
  font-size: var(--fontS);
}

.newPrice {
  font-weight: 800;
  font-size: var(--fontM);
}

.button {
  padding: 0.7rem 1rem;
  background-color: var(--primary);
  color: var(--text);
  border: 3px solid var(--secondary);
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: var(--secondary);
  scale: 1.1;
}

@media screen and (max-width: 992px) {
    .productData{
      flex-direction: column;
    }
}