.inputContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--secondary);
    width: 20%;
    min-width: 220px;
}

.input{
    height: 100%;
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: var(--white);
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--secondary);

    transition: border-color 0.3s ease;
}

.input:focus{
    border-color: var(--focus);
}

.input::placeholder{
    color: var(--inactive);
}

.searchBtn{
    height: 100%;
    color: var(--text);
    padding: 0 1rem;
    background-color: var(--primary);
    transition: all 0.5s ease;
}

.searchBtn:hover{
    background-color: var(--secondary);
}