.card {
  min-height: 200px;
  width: 70vw;
  background: var(--inactive);
  border: 3px solid #000000;
  box-shadow: 12px 12px 0 #000000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.productData {
  display: grid;
  grid-template-columns:
    20%      /* image */
    20%      /* title */
    20%      /* price */
    5%      /* quantity */
    35%;     /* buttons */

  align-items: center;
  width: 100%;
}

.title{
    padding-left: 1rem;
}

.imageContainer {
  height: 200px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 200;
  display: flex;
  flex-direction: column;
}

.priceContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.price{
    font-weight: 600;
}

.oldPrice{
    font-weight: 600;
    text-decoration: line-through;
    color: var(--wrong);
}

.newPrice{
    font-weight: 800;
    font-size: 24px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    padding-right: 1rem;
}

.button{
    min-height: 40px;
    min-width: 40px;
    color: var(--text);
    transition: all 0.5s ease;
}

.button:hover{
    background-color: var(--ok);
}

.buttonQty{
    @extend .button;
    background-color: var(--primary);
}

.buttonRemove{
    @extend .button;
    background-color: var(--wrong);
}

@media screen and (max-width: 992px) {
  .card{
      padding: 1rem 0;
  }

  .productData {
    display: flex;
    flex-direction: column;
  }
  .about-img {
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 50%;
  }
  .about-info {
    text-align: center;
  }
  .about-info p {
    text-align: justify;
  }
}