:root {
  --primary: #020214;
  --bg: #110606;

  --ok: rgb(95, 179, 95);
  --warning: rgb(214, 110, 62);
  --wrong: #d11f3a;

  --white: #ccc;
}

[data-theme='dark'] {
  --primary: #3c467b;
  --secondary: #8c548e;
  --teritary: #d2658a;
  --quaternary: #ff8876;
  --quinary: #ffbd63;
  --senary: #f9f871;

  --text: rgb(204, 215, 221);

  --focus: var(--teritary);
  --inactive: #b7aabd;

  --bg: #3c467b;
}

[data-theme='light'] {
  --primary: #f3eceb;
  --secondary: #4e47b6;
  --teritary: #f9f871;
  --quaternary: #ffbdac;
  --quinary: #ffd681;
  --senary: #f9f871;

  --focus: var(--secondary);
  --inactive: #9b9595;

  --text: rgb(8, 35, 49);

  --bg: #dfd7d6;
}